<main class="py-4">
  <section class="bg-light py-5">
    <div class="container">
      <div class="row bg-white">
        <div class="col-sm-8 px-0">
          <img src="/images/home2.png" class="w-100">
        </div>
        <div class="col-sm-4 d-flex flex-column justify-content-center">
          <p class="hometitle font-weight-bold text-center py-4 mb-0">その気持ち、伝えてみませんか？</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="pb-4 pt-5">
    <div class="container border">
      <div class="row py-4 px-3">
        <div class="col text-left">
          <p class="font-weight-bold text-left">おすすめデザインから選択する</p>
        </div>
        <div class="col text-right">
          <a href="">
            <span class="px-2">もっと見る</span><i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="row px-4 pb-4">
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/sorry_sample.png" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/birthday_sample.png" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/christmas_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100 h-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100">
          </a>
        </div>
        <div class="col-3 col-lg-2 px-0">
          <a href="">
            <img src="/images/thank_you_sample.jpg" class="w-100">
          </a>
        </div>
      </div>
    </div>
  </section>
  
  <section class="py-4">
    <div class="container border">
      <div class="row py-4 px-3">
        <div class="col text-left"> 
          <p class="font-weight-bold text-left">よくあるシーンから選択する</p>
        </div>
        <div class="col text-right">
          <a href="">
            <span class="px-2">もっと見る</span><i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>
      <div class="row px-4 pb-4">
        <div id="carousel-1" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
            <li data-target="#carousel-1" data-slide-to="4"></li>
          </ol>
        <div class="carousel-inner border">
          <div class="carousel-item active">
            <a href="">
              <img class="d-block w-100 h-100" src="/images/thankyou.jpeg" alt="First slide">
            </a>
          </div>
          <div class="carousel-item">
            <a href="">
              <img class="d-block w-100 h-100" src="/images/little_gratitude.jpeg" alt="Second slide">
            </a>
          </div>
          <div class="carousel-item">
            <a href="">
              <img class="d-block w-100 h-100" src="/images/yell.jpeg" alt="Third slide">
            </a>
          </div>
          <div class="carousel-item">
            <a href="">
              <img class="d-block w-100 h-100" src="/images/birthday.jpeg" alt="Fourth slide">
            </a>
          </div>
          <div class="carousel-item">
            <a href="">
              <img class="d-block w-100 h-100" src="/images/sorry.jpeg" alt="Fifth slide">
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
  </section>

  <section class="py-4">
    <div class="container">
      <div class="row py-4 px-3 border-bottom">
        <div class="col text-left"> 
          <p class="font-weight-bold text-left">カテゴリから選択する</p>
        </div>
      </div>
      <div class="row px-3 py-3 border-bottom">
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>動物</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>食べ物</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>花</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
      </div>
      <div class="row px-3 py-3 border-bottom">
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>風景</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>リラックス・癒し</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>シュール</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
      </div>
      <div class="row px-3 py-3 border-bottom">
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>面白い</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>かわいい</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>春</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
      </div>
       <div class="row px-3 py-3 border-bottom">
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>夏</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>秋</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
        <div class="col-4 px-4">
          <a href="" class="text-body d-flex justify-content-between">
            <span>冬</span>
            <i class="fas fa-angle-right pt-1"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

</main>