<footer class="footer pt-5 bg-light">
  <div class="container">
    <div class="footer-menu text-center py-3">
      <span class="footer-menu-link px-3">
        <a href="" class="text-muted">connectterとは</a>
      </span>
      <span class="footer-menu-link px-3">
        <a href="" class="text-muted">お問い合わせ</a>
      </span>
      <span class="footer-menu-link px-3">
        <a href="" class="text-muted">利用規約</a>
      </span>
      <span class="footer-menu-link px-3">
        <a href="" class="text-muted">プライバシーポリシー</a>
      </span>
    </div>
    <div class="footer-copyright text-center text-muted py-3">© 2020 Copyright:
    <a href="/" class="text-muted"> connectter.com</a>
  </div>
  </div>
</footer>